/*Stylesheet for ItsMePapaD.html*/
* {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	background-color: Snow;
}


h5 {
	margin: 0px;
    padding: 15px;
    padding-right: 30px;
    float: left;
    font-size: 18px;
    color: Snow;
    background-color: #627FA3;
}

ul {
	margin: 0px;
    list-style-type: none;
    padding: 0px;
    overflow: hidden;
    background-color: #627FA3;
}

li {
	float: left;
}

li a {
    display: block;
    color: Snow;
    background-color: #627FA3;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    color: #627FA3;
    background-color: Snow;

}

h1 {
	color: #294870;
	text-align: center;
	font-size: 60px;
	letter-spacing: 0.1em;
}

p {
	font-size: 20px;
	color: #627FA3;
	letter-spacing: 0.1em;
}



